<nav class="nav_conatiner">
    <div class="name_container">
        <h1>B Abhiram</h1>
    </div>
    <ul class="option_conatiner">
        <li><a href="/">Home</a></li>
        <li><a href="#">Resume</a></li>
        <li><a href="#">Projects</a></li>
        <li><a href="/contact">Contact</a></li>
    </ul>
</nav>