<section class="Home_main_container">
  <div class="home-sec1-container">
    <div class="home-sec1-wrapper">
      <h2>Stunning Web Experiences | Frontend Developer</h2>
      <h4>Two Years of Code-Crafted Web Wonders</h4>
      <div class="sec1-links-conatiner">
        <a href="/resume">Resume</a>
        <a href="#">Projects</a>
      </div>
    </div>
  </div>
  <div class="home-sec3-container">
    <div class="home-sec3-wrapper">
      <div class="img_container">
        <img src="../../assets/_YES4468.jpg" alt="image" />
        <div class="right-blur"></div>
      </div>
    </div>
  </div>
  <div class="home-sec4-conatiner">
    <div class="home-sec4-wrapper">
      <h2>About Me</h2>
      <h3>
        <span style="font-weight: 600;">Hello there! </span> I'm B Abhiram, a passionate and skilled Frontend Developer
      </h3>
      <p>
        I have two years of valuable experience in creating engaging and
        user-friendly web applications. My journey in the world of web
        development has been an exciting one, and I take great pride in my
        ability to bring designs to life and deliver seamless user experiences.
      </p>
      <div class="social_contact_container">
        <a href="" class="logo-atag"><img src="../../assets/icons8-twitter.svg" alt="logo"></a>
        <a href="" class="logo-atag"><img src="../../assets/icons8-linkedin.svg" alt="logo"></a>
        <a href="" class="logo-atag"><img src="../../assets/icons8-github.svg" alt="logo"></a>
      </div>
    </div>
  </div>
</section>
